<details open data-baseline="loading">
  <summary aria-label="Baseline: Loading">
    <div class="summary-top">
      <span class="name">{{featureName}}</span>
    </div>
    <div class="summary-bottom">
      {{baselineGlyph}}
      <div class="baseline-status-title" aria-hidden="true">
        <div><strong>Baseline</strong> Loading</div>
        <div class="baseline-status-browsers">
          <span>{{chromeIcon}} {{noDataIcon}}</span>
          <span>{{edgeIcon}} {{noDataIcon}}</span>
          <span>{{firefoxIcon}} {{noDataIcon}}</span>
          <span>{{safariIcon}} {{noDataIcon}}</span>
        </div>
      </div>
      <span class="open-icon" aria-hidden="true"> {{chevronIcon}} </span>
    </div>
  </summary>
  <p>Loading Baseline data...</p>
</details>
