<details data-baseline="{{baseline}}">
  <summary aria-label="{{aria}}">
    <div class="summary-top">
      <p class="name">{{name}}</p>
      <p class="since">{{since}}</p>
    </div>
    <div class="summary-bottom">
      <div class="baseline-status-title" aria-hidden="true">
        <div>{{baselineGlyph}} {{title}}</div>
        <div class="baseline-status-browsers">
          <span>{{chromeIcon}} {{chromeSupport}}</span>
          <span>{{edgeIcon}} {{edgeSupport}}</span>
          <span>{{firefoxIcon}} {{firefoxSupport}}</span>
          <span>{{safariIcon}} {{safariSupport}}</span>
        </div>
        <span class="open-icon" aria-hidden="true">{{chevronIcon}}</span>
      </div>
    </div>
  </summary>
  <p>{{description}} {{learnMore}}</p>
</details>
